<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/gifs">Gifs</a>
      <a href="/jscss">JS CSS stuff</a>
    </div>
    {{{body}}}
    <footer>For at undgå kode redundans har alle sider fået tilføjet denne menu i layout filen</footer>
  </body>
</html>